{% extends "allianceauth/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block page_title %}
    {% translate "Bookmarks" %}
{% endblock page_title %}
{% block content %}
    <div class="col-lg-12 container-fluid aa-bookmarks">
        <br/>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#market-manager-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">{% translate "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'bookmarks:index' %}">{% translate "Bookmarks" %}</a>
            </div>
        </nav>
        {% block details %}
        {% endblock details %}
    </div>
</div>
</div>
{% endblock content %}
