{% extends "bookmarks/base.html" %}
{% load i18n %}
{% load humanize %}
{% load evelinks %}
{% load static %}
{% block details %}
    <div class="row">
        {% for sharedfolder in sharedfolders %}
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{ sharedfolder }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock details %}
{% block extra_javascript %}
{% endblock extra_javascript %}
{% block extra_css %}
{% endblock extra_css %}
{% block extra_script %}
{% endblock extra_script %}
